# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Compiler and Build files
cache/
out/

# Secret keys (CRITICAL)
.env

# Ignores development broadcast logs 
# This keeps your private transaction logs off GitHub
broadcast/

# Frontend/OS junk
node_modules/
.DS_Store